button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: gold;
  overflow: hidden;
}
.off {
  color: #ccc;
}

.star {
  font-size: 1.5rem;
}

.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
