.formParentContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid grey;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

button {
  width: 60%;
  border: 1px solid grey;
  padding: 0.35rem;
  border-radius: 5px;
}

.outputDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem auto;
  width: 200px;
}

table {
  margin-top: 12px;
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

.formDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
