.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  width: 450px;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
}

.inputBoxes {
  display: flex;
}

.btn {
  display: flex;
  gap: 1.2rem;
}

.buttonsCalculator {
  width: 40px;
  margin-top: 1.2rem;
}

.bottomDIv {
  margin-top: 1.2rem;
  display: flex;
  gap: 1.5rem;
}
.resetBtn {
  width: 50px;
}
